<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todoappsample20230715132705.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a91a08e9-1361-4690-b719-0d692ecaa0f2/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/TodoAppSample20230715132705</ResourceId>
    <UserName>$TodoAppSample20230715132705</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://todoappsample20230715132705.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>